div.handPlayer{
    display: inline-block;
    margin-right: 5px;
    background-color: grey;
}

div.lineBoard{
    background-color: pink;
}

div.cardChoice{
    display: inline-block;
    margin-right: 5px;
    background-color: violet;
}