body{
    background: #fcfcfa;
    
}

div.hand{
     text-align: center;
}


div.handPlayer{
    display: inline-block;
    margin-right: 5px;
   
}

div.lineBoard{
    background-color: pink;
}

div.cardChoice{
    display: inline-block;
    margin-right: 5px;
    transform:scale(1.2);
}

div img{
    width:9vw;
    height:auto;
}

div.board{
    text-align: center;
    background: #fcfcfa;
    color: #818078;
    font-family: Futura,
    sans-serif;
}

div.board .ligne1,
div.board .ligne2,
div.board .ligne3,
div.board .ligne4
    {
        
        height: auto;
        
        
}
div.board .ligne1 .l1col1,
div.board .ligne1 .l1col2,
div.board .ligne1 .l1col3,
div.board .ligne1 .l1col4,
div.board .ligne1 .l1col5,
div.board .ligne2 .l2col1,
div.board .ligne2 .l2col2,
div.board .ligne2 .l2col3,
div.board .ligne2 .l2col4,
div.board .ligne2 .l2col5,
div.board .ligne3 .l3col1,
div.board .ligne3 .l3col2,
div.board .ligne3 .l3col3,
div.board .ligne3 .l3col4,
div.board .ligne3 .l3col5,
div.board .ligne4 .l4col1,
div.board .ligne4 .l4col2,
div.board .ligne4 .l4col3,
div.board .ligne4 .l4col4,
div.board .ligne4 .l4col5 {

    width:9vw;
    height: 12.85vw;
    border-radius: 5px;
    margin:1%;
    background-color: lightgrey;
    display:inline-block;
    padding:0;
}

div.board .ligne1 .l1col6, 
div.board .ligne2 .l2col6,
div.board .ligne3 .l3col6,
div.board .ligne4 .l4col6{
     width:9vw;
     height: 12.85vw;
    border-radius: 5px;
    background-color: rgb(255, 65, 65);
    display:inline-block;
     margin:1%;
      padding:0;
}

nav ul img{
    margin-bottom: 2%;
}


.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
   
    
}

.hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
}