<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Le 6 qui prend</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <h1>Le 6 qui prend !</h1>

    <a href="#">Inscription</a>
    <a href="#">Connexion</a>

    <div class="rooms">

    </div>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script/main.js"></script>
</body>

</html>