<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Le 6 qui prend</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <img src="/src/logo.png" class="logoHome">
    <div class="topPageForm">
        <div class="create_room">
            <form action="/newroom" method="POST">
                <input class="inputHome" id="room_name" type="text" name="room_name" />
                <button class="buttonHome" type="submit">Créer un salon</button>
            </form>
        </div>
        <div id="error_area"></div>
    </div>

    <div class="home_lists">
        <h2>Salons de jeu disponibles :</h2>
        <ul id="rooms_area">
        </ul>
    </div>

    <div class="scoreboard">
        <div class="home_lists">
            <h2>Tableau des scores :</h2>
            <ul id="topPlayers">
                <li id="top1"><span>#1</span></li>
                <li id="top2"><span>#2</span></li>
                <li id="top3"><span>#3</span></li>
                <li id="top4"><span>#4</span></li>
                <li id="top5"><span>#5</span></li>
                <li id="top6"><span>#6</span></li>
                <li id="top7"><span>#7</span></li>
                <li id="top8"><span>#8</span></li>
                <li id="top9"><span>#9</span></li>
                <li id="top10"><span>#10</span></li>
            </ul>
        </div>
    </div>

    <script>
        let rooms = '<%- rooms %>';
        let error = '<%- error %>';
    </script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script/home_page.js"></script>
</body>

</html>