<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />
        <title>Le 6 qui prend</title>
        <link rel="stylesheet" type="text/css" href="style.css">

    </head>

 

    <body>
        <h1>Commande</h1>
        <p><input type="button" value="Ready" id="ready" /></p>

        <h1>Main</h1>
        <div class="hand"></div>
        <h1>Tableau de jeu</h1>
        <div class="board">
            <nav class="ligne1">
                <ul class="l1col1"></ul>
                <ul class="l1col2"></ul>
                <ul class="l1col3"></ul>
                <ul class="l1col4"></ul>
                <ul class="l1col5"></ul>
                <ul class="l1col6"></ul>
            </nav>
            <hr class="hr-text" data-content=" Ligne 1 ">
  
            <nav class="ligne2">
                <ul class="l2col1"></ul>
                <ul class="l2col2"></ul>
                <ul class="l2col3"></ul>
                <ul class="l2col4"></ul>
                <ul class="l2col5"></ul>
                <ul class="l2col6"></ul>
            </nav>
            <hr class="hr-text" data-content=" Ligne 2 ">
    
            <nav class="ligne3">
                <ul class="l3col1"></ul>
                <ul class="l3col2"></ul>
                <ul class="l3col3"></ul>
                <ul class="l3col4"></ul>
                <ul class="l3col5"></ul>
                <ul class="l3col6"></ul>
            </nav>
            
            <hr class="hr-text" data-content=" Ligne 3 ">
       
            <nav class="ligne4">
                <ul class="l4col1"></ul>
                <ul class="l4col2"></ul>
                <ul class="l4col3"></ul>
                <ul class="l4col4"></ul>
                <ul class="l4col5"></ul>
                <ul class="l4col6"></ul>
            </nav>
            <hr class="hr-text" data-content=" Ligne 4 ">
      

        </div>
        
        <h1>Chat général</h1>
        <div class="general_chat"></div>

            <input class="general_input" type="text">
            <button class="general_send">envoyer</button>

        <h1>Chat salon</h1>
        <div class="room_chat"></div>

            <input class="room_input"  type="text">
            <button class="room_send">envoyer</button>

        <!-- On ajoute jquery-->
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

        <!-- On ajoute socket.io-->
        <script src="/socket.io/socket.io.js"></script>

        <script>
            let carteChoisie;
            

            if (window.location.pathname == "/"){
                var room = prompt('Entrez le nom du salon à créer/rejoindre');
                window.location.replace(window.location.href + room);
            }
            else {

                var socket = io.connect('http://localhost:8080');

                // On créer un joueur
                var joueur = new Object(); 

                // On demande le pseudo au visiteur...
                joueur.pseudo = prompt('Quel est votre pseudo ?');
                joueur.room = window.location.pathname;

                //on envoie le pseudo au serveur
                socket.emit('nickname', joueur);

                //on attend les messages dans les 2 chats
                socket.on('general_chat',function(message){
                    $('.general_chat').append(message)
                });

                socket.on('room_chat',function(message){
                    $('.room_chat').append(message)
                });

            //on attend le signal init du serveur qui envoie la main et le board
            socket.on('init', function(init) {

                console.log(init);
                //on parcours le board pour l'afficher
                for (indexBoard = 0;indexBoard<init.board.length;indexBoard++){
                    for (indexBoard2 = 0;indexBoard2<init.board[indexBoard].length;indexBoard2++){

                        if (init.board[indexBoard][indexBoard2]){
                            let tmp = indexBoard+1;
                        console.log(init.board[indexBoard][indexBoard2].value);
                            $('.l'+tmp+'col1').append("<img src='src/" + init.board[indexBoard][indexBoard2].value + ".png' alt='test'></img>");
                        }
                    }
                    
                }

                //on parcours la main pour l'afficher
                for (indexHand = 0;indexHand<init.hand.length;indexHand++){
                    $('.hand').append("<div class ='handPlayer' id = 'handPlayer_" + indexHand + "'>" 
                   + "<img src='src/" + init.hand[indexHand].value + ".png' alt='test'></img>"
                   + "</div>");
                }
            })

            // Evenement quand on clique sur une des cartes
            $('body').on("click", ".handPlayer", function(){
                $(".handPlayer").removeClass("cardChoice");
                $(this).addClass("cardChoice");
                //alert(this.id);
                if(confirm("Souhaitez-vous sélectionner la carte ?")){
                    carteChoisie = this.id.match(/\d+/g).map(Number);
                }else{
                    $(".handPlayer").removeClass("cardChoice");
                }
            });


            //quand click sur ready on indique au serveur qu'on est prêt
            $('#ready').click(function () {
                socket.emit('ready', '1');
                $('#ready').remove();
            })

            //envoi message
            $('.general_send').click(function(){
                let message = $('.general_input').val();
                socket.emit('general_chat',message);
                $('.general_input').val("");
            });

            //envoi message
            $('.room_send').click(function(){
                let message = $('.room_input').val()
                socket.emit('room_chat',message);
                $('.room_input').val("");
            });



		}
        </script>

    </body>

</html>